extends layout

block content
  -data = data || {}

  if errors
    ul.my-errors
      for error in errors
        li= error.msg
  br
  form(action="/changepassword" method="POST" class="form-registration")
    label(for="password") Current Password
    input(
    type="password"
    id="password"
    name="password"
    class="form-control"
    required="true"
    value=data.password
    )

    label(for="newpassword") New Password
    input(
    type="password"
    id="newpassword"
    name="newpassword"
    class="form-control"
    required="true"
    value=data.newpassword
    )

    input(
      type="submit"
      value="Submit"
      class="btn btn-lg btn-primary btn-block"
    )
    br
    a(class="btn btn-primary" href="/dashboard" roles="button") Return to Dashboard
