extends layout
block content
  -data = data || {}
  script(src="http://code.jquery.com/jquery-1.9.1.min.js")
  script(src="javascripts/jquery.validate.js")
  script(src="javascripts/registrationValidation.js")
  if errors
    ul.my-errors
      for error in errors
        li= error.msg
  br
  a(class="btn btn-primary" href="/signin" role="button") Sign in
  form(action="." method="POST" id = "registration" name="registration" class="form-registration")
    label(for="name") Name:
    input(
      type="text"
      id="name"
      name="name"
      class="form-control"
      value=data.name
    )
    br
    label(for="email") Email:
    input(
      type="email"
      id="email"
      name="email"
      class="form-control"
      value=data.email
    )

    label(for="password") Password:
    input(
      type="password"
      id="password"
      name="password"
      class="form-control"
      value=data.password
    )


    input(
      type="submit"
      value="Submit"
      class="btn btn-lg btn-primary btn-block"
    )
